.divCss {
  border: 2px solid #000;
  padding: 3% 3%;

  input {
    width: 80%;
  }

  .searchBntCss {
    margin-left: 5px;
  }
}

.adminBntCss {
  color: #000;
  position: absolute;
  top: 0;
  right: 50px;
  margin: 10px;
}

.delIconCss {
  color: #737373;
  cursor: pointer;
}

.delIconCss:active {
  background-color: #fff;
}

.addIconCss {
  color: #737373;
  cursor: pointer;
}

.addIconCss:active {
  background-color: #fff;
}