<div class="divCss">
    <h5 class="section">問卷時間： {{ quest.sDate }} ~ {{ quest.eDate }}</h5>
    <h2 style="text-align: center;"> {{ quest.title }}</h2>
    <div style="margin: 5% 0px;">
        <span>{{ quest.explain }}</span>
    </div>
    <div>
        <span style="color: red;">*</span>
        <label>名稱：</label>
        <input style="width: 50%;" placeholder="請輸入名稱" [(ngModel)]="userName">
    </div><br>
    <div>
        <span style="color: red;">*</span>
        <label>手機：</label>
        <input style="width: 50%;" placeholder="請輸入手機" [(ngModel)]="userPhone">
    </div><br>
    <div>
        <label>信箱：</label>
        <input style="width: 50%;" placeholder="請輸入信箱" [(ngModel)]="userEmail">
    </div><br>
    <div>
        <label>年齡：</label>
        <input style="width: 50%;" placeholder="請輸入年齡" [(ngModel)]="userAge">
    </div><br>

    <ol>
    @for (quest of newQuestArray; track $index) {
        <li>
            <h5>
                {{ quest.questName }}
                @if (quest.need) {
                    <span style="color: red;">*</span>
                }
            </h5>
        </li>
        <!-- 多選M 單選Q 文字輸入T -->
        @if (quest.type == 'M') {
            @for (option of quest.options; track $index) {
                <div>
                    <input type="checkbox" [(ngModel)]="option.boxBoolean">
                    {{ option.optionName }}
                </div><br>
            }
        }

        @if (quest.type == 'Q') {
            @for (option of quest.options; track $index) {
                <!-- radio注意要有name作為判斷這些radio是同一群組 -->
                <!-- value是選了這個選項對應的ngModel中的值 -->
                <input type="radio" name="{{quest.questId}}" value="{{option.code}}" 
                       [(ngModel)]="quest.radioAnswer">
                    {{ option.optionName }}
                <br>    
            }
        }

        @if (quest.type == 'T') {
            <textarea [(ngModel)]="quest.answer"></textarea>
        }
    }
    </ol>

    <div style="text-align: right;">
        <button style="margin-right: 5px;" (click)="goBack()">回上頁</button>
        <button (click)="goPreview()">預覽</button>
    </div><br>
</div>