<div class="divCss">
    <mat-card appearance="outlined" class="cardCss">
        <mat-card-content>
            <h3>登入</h3>
            <div style="margin: 5px;">
                <div class="user-box">
                    <input type="text" [(ngModel)]="account" />
                    <label>帳號</label>
                </div>

                <div class="user-box">
                    <input type="{{showPassword? 'test' : 'password'}}"  [(ngModel)]="password" />
                    <label>密碼</label>
                    <span class="password-toggle-icon">
                        <mat-icon fontIcon="{{showPassword? 'visibility' : 'visibility_off'}}"
                            (click)="changePasswordIcon()"></mat-icon>
                    </span>
                </div>
                <button mat-stroked-button style="width: 80%;" (click)="login()">登入</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>