<div class="divCss">
    <!-- 判斷不是文字題就不顯示圖表 -->
    @if (questData.type != 'T') {
        <div class="canvasCss">
            <canvas id="{{dataId}}"></canvas>
        </div>
    }
    <div>
        題目： {{questData.name}}
        <!-- 判斷不是文字題就顯示選項跟數量 -->
        <!-- 判斷是文字提就顯示文字 -->
        @if (questData.type != 'T') {
            @for (label of questData.labels; track $index) {
                <h5 style="padding-left: 15px;">
                    選項： {{ questData.labels[$index] }}
                    <span style="float: right;">{{ questData.data[$index] }}</span>
                </h5>
            }
        } @else {
            @for (data of questData.data; track $index) {
                <h5 class="typeTCss">{{data}}</h5>
            }
        }
    </div>
</div>