
.divCss {
    display: flex;

    h3 {
        width: 50%;
    }

    .canvasCss {
        width: 300px;
        height: 300px;
        margin: 3%;
    }

    .typeTCss {
        border: 2px solid #fff;
        padding: 5px;
        background-color: #a0571b;
    }
}