/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 5px 20%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url(/backgroundImg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
}